.css-qrbaxs {
    font-size: 20px;
}

.css-12oz5g7 {
    max-width: 113rem;
}

.css-1v0mbdj {
    margin-left: auto;
}

.css-keje6w {
    display: flex;
    align-items: flex-end
}

.css-10vnxko {
    padding-top: 45px;
}